{% load static %}

{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}


<div class="row3 container-fluid">
    <!-- Counting row -->
    <div class="row counting-row ">
        <div class="col-10 offset-2 pt-0">
            <div class="row">
                <div class="col-4 bg-light">
                    <div class="container" style="margin-top: 30px;">
                        <p style="font-size: 20px;">{{ object.client_company_name }}</p>
                        <hr>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-sm-4">
                                <img src="{% static 'proad/img/nekto.jpg' %}" id="nekto">
                            </div>
                            <div class="col-sm-8">
                                <h5>{{ object.client_name }}</h5>
                                <p class="mb-2"><i class="far fa-envelope"></i> {{ object.email }}</p>
                                <p class="mb-2"><i class="fas fa-mobile-alt"></i> {{ object.mobile_phone }}</p>
                                <p class="mb-2"><i class="fas fa-phone"></i> {{ object.work_phone }}</p>
                            </div>
                        </div>
                        <div style="margin-top: 100px">
                            <p>ADDRESS</p>
                            <hr>
                            <div style="margin-left: 30px;">
                                <h6>Billing Address</h6>
                                <p style="font-size: 13px">No Billing Address * <a href=""
                                                                                   style="text-decoration: none;">Add
                                    New Address</a></p>
                            </div>
                            <div style="margin-left: 30px;">
                                <h6>Shipping Address</h6>
                                <p style="font-size: 13px">No Shipping Address * <a href=""
                                                                                    style="text-decoration: none;">Add
                                    New Address</a></p>
                            </div>
                        </div>
                        <div style="margin-top: 70px">
                            <p>OTHER DETAILS</p>
                            <hr>
                            <div style="margin-left: 30px; line-height: 2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Currency Code
                                    </div>
                                    <div class="col-sm-6" style="color: green">UZS</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Created Source
                                    </div>
                                    <div class="col-sm-6">User</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 70px; padding-bottom: 70px;">
                            <p>CONTACT PERSONS</p>
                            <hr>
                            <p class="text-center" style="margin-top: 40px; color: grey">No additional contact person
                                found</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="text-right">
                        <a href="{% url 'contact-update' clientcontact.id %}" class="btn btn-md btn-primary">Edit</a>
                        <a href="{% url 'contactid-delete' clientcontact.id %}" class="btn btn-md btn-primary">Delete</a>
                    </div>
                    <div class="container">
                        <div id="div">
                            <div class="row mt-5">
                                <div class="col-sm-6" style="padding-left: 50px; border-right: 1px solid grey">
                                    <p style="margin-top: 5px;"><b>Payables</b></p>
                                    <h4 class="text-success">UZS0.00</h4>
                                </div>
                                <div class="col-sm-6">
                                    <p style="font-size: 13px;"><b>Items to be receiver</b> <span class="text-success"
                                                                                                  style="margin-left: 90px; font-size: 20px;">0.00</span>
                                    </p>
                                    <hr>
                                    <p style="font-size: 13px; margin-top: -10px;"><b>Total item ordered</b> <span
                                            class="text-danger" style="margin-left: 100px; font-size: 20px;">3.00</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4" style="margin-top: 50px;">
                            <div class="col-sm-3 text-right side-color">
                                <p class="mt-3" style="font-size: 13px"><b>{{ object.created_at|date:"d M Y" }} <br> {{ object.created_at|date:"H:i" }}</b></p>
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <div class="mt-2">
                                        <h6>Contact Added</h6>
                                        <p>contact added by <span style="font-weight: bold;">{{ user.username }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4" style="margin-top: 50px;">
                            <div class="col-sm-3 text-right side-color">
                                <p class="mt-3" style="font-size: 13px"><b>22 Dec 2018 <br> 04.18 PM</b></p>
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <div class="mt-2">
                                        <h6>Purchase Order updated</h6>
                                        <p>items received for Purchase Order PO-00001 by <b>goazizbek</b> - <a href="">View
                                            details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'dashboard/footer.html' %}