{% load crispy_forms_tags %}
{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Add Contact-->
<div class="row3 container">
    <div class="row counting-row">
        <div class="col-10 offset-2 pt-0 pl-5">
            <div class="row justify-content-between start-dash mb-4">
                <div class="col-12">
                    <h3 class="mt-5">New Contact</h3>
                    <hr>
                    <form action="" method="post" class="mt-2">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary btn-md pull-right" type="submit">Save</button>
                        <a href="{% url 'contacts' %}" class="btn btn-info btn-md pull-right">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% include 'dashboard/footer.html' %}