{% load static %}

{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Dashboard -->
<div class="row3 container-fluid">
    <!-- Counting row -->
    <div class="row counting-row">
        <div class="col-10 offset-2 pt-0 pl-5">
            <div class="row justify-content-between start-dash mb-4" id="item_info">
                <div class="col-6">
                    <h4 class="text-left pt-3 pb-3 mt-2">Barcha Aloqalar</h4>
                </div>
                <div class="col-6">
                    <div class="text-right pt-3 pb-3">
                        <a href="{% url 'contact-create' %}" class="btn btn-md btn-primary">New</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-md dropdown-toggle" data-toggle="dropdown"
                                    data-display="static" aria-haspopup="true" aria-expanded="false">
                                More
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="   " data-toggle="modal"
                                   data-target="#basicExampleModal" class="dropdown-item"><i
                                        class="fas fa-file-export"></i> Export Contacts</a>
                                <a href="{% url 'contact-upload' %}" class="dropdown-item"><i
                                        class="fas fa-file-import"></i> Import Contacts</a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'contacts' %}" class="dropdown-item"><i class="fas fa-sync"></i> Refresh
                                    Page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #F8F7F7;">
                                <h5 class="modal-title text-left" id="exampleModalLabel">Export</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>You can export your data in xlsx</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Cancel
                                </button>
                                <a href="{% url 'export-contact-excel' %}" class="btn btn-info btn-md">Export</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between start-dash mb-4" id="general">
                <div class="col-6">
                    <h4 class="text-left mt-4">Selected Contacts: <span id="counter"></span></h4>
                </div>
                <div class="col-6">
                    <div class="text-right pt-3 pb-3">
                        <button class="btn btn-danger btn-md" data-toggle="modal"
                                data-target="#contact_delete">
                            Delete
                        </button>
                        <a href="{% url 'contacts' %}" class="btn btn-info btn-md">Cancel</a>
                    </div>
                </div>
                <!-- Delete contacts modal -->
                <div class="modal fade" id="contact_delete" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #F8F7F7;">
                                <h5 class="modal-title text-left" id="exampleModalLabel">Delete Contacts</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img style="float:left;"
                                     src="{% static 'proad/img/icons/icons8-warning-shield-48.png' %}" alt="">
                                <h6 class="mt-3">&nbsp; Do you want to delete selected contacts?</h6>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info btn-md delete-btn"
                                        onclick="window.location.href=window.location.href">Delete
                                </button>
                                <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fadeIn" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <table id="dtBasicExample" class="table table-hover contact-list" border-spacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th scope="col"><input type="checkbox" class="select_all"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Work Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr data-id="{{ contact.id }}" class="clickable-row"
                                data-href="{% url 'contact-detail' contact.id %}"
                                style="cursor: pointer; ">
                                <th scope="row"><input type="checkbox" name="wpmm[]" id="check">
                                </th>
                                <td>{{ contact.client_name }}</td>
                                <td>{{ contact.client_company_name }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.work_phone }}</td>
                                <td>{{ contact.mobile_phone }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'dashboard/footer.html' %}

<script type="text/javascript">


    $(document).ready(function () {

        $(".delete-btn").click(function () {

            var selected_rows = [];

            $('.contact-list').find('tr').each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked')) {
                    console.log(row.attr('data-id'));
                    selected_rows.push(row.attr('data-id'));
                }

            });
            var selected_rows = JSON.stringify(selected_rows);
            $.ajax({
                url: "{% url 'contact-delete' %}",
                type: 'POST',
                data: {
                    'contact_id': selected_rows,
                    'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
                },
            });
        });
    });
</script>

