{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Inventory Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'site/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/style/style.css' %}">
</head>
<body>
<!-- Navbar -->
<div id="show-up-menu">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="toggle-menu" id="menu">
            <svg class="ham ham2" viewBox="0 0 100 100" width="80">
                <path class="line top"
                      d="m 70,33 h -40 c -6.5909,0 -7.763966,-4.501509 -7.763966,-7.511428 0,-4.721448 3.376452,-9.583771 13.876919,-9.583771 14.786182,0 11.409257,14.896182 9.596449,21.970818 -1.812808,7.074636 -15.709402,12.124381 -15.709402,12.124381"/>
                <path
                        class="line middle"
                        d="m 30,50 h 40"/>
                <path
                        class="line bottom"
                        d="m 70,67 h -40 c -6.5909,0 -7.763966,4.501509 -7.763966,7.511428 0,4.721448 3.376452,9.583771 13.876919,9.583771 14.786182,0 11.409257,-14.896182 9.596449,-21.970818 -1.812808,-7.074636 -15.709402,-12.124381 -15.709402,-12.124381"/>
            </svg>
        </div>
        <a class="navbar-brand" href="#">
            <img src="{% static 'site/img/png/online-shop.png' %}" alt="">
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Bosh sohifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Biz haqimizda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Operatsiyalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Narxlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aloqa</a>
                </li>
            </ul>
        </div>
        <div class="extra-menu">
            <a href="#" class="lang ru active">Ru</a>
            <a href="#" class="lang uz">Uz</a>
            {% if user.is_authenticated %}
                <a class="sign-up" href="{% url 'account_logout' %}">Sign out</a>
            {% else %}
                <a class="sign-up" href="{% url 'account_signup' %}">Sign up</a>
                <a class="sign-up" href="{% url 'account_login' %}">Sign in</a>
            {% endif %}
        </div>
    </nav>
</div>
<!-- TOGGLE-MENU -->
<div class="side-bar swipe" id="slider">
    <p>Inventory Management</p>
    <ul class="side-nav">
        <li class="side-item">
            <a class="nav-link" href="#">Bosh sahifa</a>
        </li>
        <li class="side-item">
            <a class="nav-link" href="#">Biz haqimizda</a>
        </li>
        <li class="side-item">
            <a class="nav-link" href="#">Operatsiyalar</a>
        </li>
        <li class="side-item">
            <a class="nav-link" href="#">Narxlar</a>
        </li>
        <li class="side-item">
            <a class="nav-link" href="#">Aloqa</a>
        </li>
    </ul>
</div>
<!-- Jumbotron -->
<div class="row row1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 text">
                <h1>Rivojlanayotgan korxonalar uchun inventarizatsiyani boshqarish dasturi</h1>
                <p>Savdo hajmini oshiring va kuchli kabinetga boshqaruvi, Buyurtma bajarish va inventarizatsiyadan
                    boshqarish dasturlari bilan har bir birlikni kuzatib boring</p>
                <div class="new-img col-md-12"><img src="" alt=""></div>
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-md-6 col-sm-12 col-xs-12 p-0">
                            <a class="btn sign-up" anim="ripple" href="{% url 'dashboard' %}">Access Inven</a>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-sm-12 col-xs-12 p-0">
                            <a class="btn sign-up" anim="ripple" href="{% url 'account_signup' %}">Ro'yxatdan o'tish</a>
                        </div>
                    {% endif %}
                    <div class="col-md-6 col-sm-12 col-xs-12 p-0">
                        <a class="btn request" anim="ripple">Sorov jo'natish</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 img">
                <img src="{% static 'site/img/inventory (1).png' %}">
            </div>
        </div>
    </div>
</div>
<!-- Customs -->
<div class="row row2">
    <div class="container">
        <h1 class="text-center">Inventory management from supplier to customer</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/004-delivery.png' %}" alt="">
                <h4>Inventory Management</h4>
                <p>Keep track of your products as you sell, manufacture and restock across multiple warehouse locations
                    and channels.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/005-test.png' %}" alt="">
                <h4>Orders & fulfillment</h4>
                <p>Sync orders from multiple sales channels with inventory and accounting to boost business
                    efficiency.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/012-man.png' %}" alt="">
                <h4>Relationships</h4>
                <p>Keep all your customer and supplier data in one place, complete with purchase histories and
                    customer-specific insights.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/007-profit.png' %}" alt="">
                <h4>Intelligence</h4>
                <p>Generate accurate sales, inventory, business reports and forecasts for better business decisions, all
                    in real-time.</p>
            </div>
        </div>
    </div>
</div>
<!-- control business    -->
<div class="row row2 row4">
    <div class="container">
        <h1 class="text-center">Inventory management to take control of your business</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/002-switch.png' %}" alt="">
                <h4>Visibility & control</h4>
                <p>TradeGecko offers inventory control, providing deep insights into business performance.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/007-shopping-bag.png' %}" alt="">
                <h4>Sell more</h4>
                <p>We create the tools you need to engage with more customers and more opportunities.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/008-time-is-money.png' %}" alt="">
                <h4>Save time</h4>
                <p>Automate time consuming tasks so you can concentrate on developing your brand.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <img src="{% static 'site/img/png/010-idea.png' %}" alt="">
                <h4>Work smarter</h4>
                <p>All your inventory and order data is backed up, synced, and secure in the cloud.</p>
            </div>
        </div>
    </div>
</div>
<!-- Features -->
<div class="row row5">
    <div class="container">
        <h1 class="text-center">The features of Inventory Management</h1>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 items">
                <img src="{% static 'site/img/png/001-flickr.png' %}" alt="" class="img">
                <h4 class="">Title</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque.</p>
            </div>
        </div>
    </div>
</div>
<!-- pricing -->
<div class="row row6">
    <div class="container">
        <h1 class="text-center">Pricing of Inventory Management</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <p class="title text-center">FREE</p>
                <p class="price text-center"><sup>$</sup>0</p>
                <p class="month text-center">per organization / month</p>
                <button class="btn btn-info" anim="ripple">TRY NOW</button>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <p class="title text-center">FREE</p>
                <p class="price text-center"><sup>$</sup>0</p>
                <p class="month text-center">per organization / month</p>
                <button class="btn btn-info" anim="ripple">TRY NOW</button>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <p class="title text-center">FREE</p>
                <p class="price text-center"><sup>$</sup>0</p>
                <p class="month text-center">per organization / month</p>
                <button class="btn btn-info" anim="ripple">TRY NOW</button>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 items">
                <p class="title text-center">FREE</p>
                <p class="price text-center"><sup>$</sup>0</p>
                <p class="month text-center">per organization / month</p>
                <button class="btn btn-info" anim="ripple">TRY NOW</button>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <img src="{% static 'site/img/png/002-accept.png' %}" alt="" class="mr-2">
                            <b>20</b> online orders / month</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sing-up -->
<div class="row row7">
    <div class="container text-center">
        <h2 class="text-center mb-5 mb-md-5 mb-sm-2">Simplify your inventory management with Inventory Management</h2>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="sign-up">
                    <a class="btn" anim="ripple" href="{% url 'dashboard' %}">Access Inven</a>
                </div>
            {% else %}
                <div class="sign-up">
                    <a class="btn" anim="ripple" href="{% url 'account_signup' %}">Ro'yhatdan o'tish</a>
                </div>
            {% endif %}
            <div class="request">
                <a class="btn" anim="ripple">Sorov jo'natish</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer	 -->
<footer>

</footer>


<script src="{% static 'site/node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'site/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/script/script.js' %}"></script>
<script src="{% static 'site/script/scroll-menu.js' %}"></script>
<script src="{% static 'site/script/modal.js' %}"></script>
<script>
    /*var str = 'I will practice survival skills';
    console.log(count(str,'i'));*/
    // s = 'dir/dir/dir/dir/'
    // for(i=l=0;i<s.length;i++)
    // 	if(s[i] == '/')
    // l++;
    // console.log(l);

</script>
</body>
</html>