{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{% static 'site/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/style/signincss.css' %}">
</head>
<body>
<div class="container">
    {% block content %}
        <h1>{% trans 'My Account' %}</h1>

        <ul class="nav nav-tabs">
            <li class="{% block account_nav_email %}{% endblock %}">
                <a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
            </li>
            <li class="{% block account_nav_change_password %}{% endblock %}">
                <a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
            </li>
            {% url 'socialaccount_connections' as connections_url %}
            {% if connections_url %}
                <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
                    <a href="{{ connections_url }}">{% trans 'Connected Accounts' %}</a>
                </li>
            {% endif %}
        </ul>
        {% block account_content %}
        {% endblock %}

    {% endblock %}
</div>



<script src="{% static 'site/node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'site/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/script/script.js' %}"></script>
<script src="{% static 'site/script/scroll-menu.js' %}"></script>
<script src="{% static 'site/script/modal.js' %}"></script>
<script>
    /*var str = 'I will practice survival skills';
    console.log(count(str,'i'));*/
    // s = 'dir/dir/dir/dir/'
    // for(i=l=0;i<s.length;i++)
    // 	if(s[i] == '/')
    // l++;
    // console.log(l);

</script>
</body>
</html>