{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}


    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in
            below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}



    <div class="container main-block">
        <div class="sign-block border text-center s-content p-4">
            <h3 class="text-center p-2">Inventory</h3>
            <h4 class="text-center p-0">You can create account here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="form-group text-left">
                    {{ form|crispy }}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="row justify-content-between">
                    <div class="col-4 text-left">
                        <a class="btn btn-light"
                           href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left p-4">
                        <a href="{% url 'account_signup' %}" class="create">Create new account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
