{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <div class="container main-block">
        <div class="sign-block border text-center s-content p-4">
            <h3 class="text-center p-2">{% trans 'Password Reset' %}</h3>
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group text-left">
                    {{ password_reset_form|crispy }}
                </div>
                <div class="row justify-content-between">
                    <div class="col-4 text-left">
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-primary" type="submit">{% trans "Reset" %}</button>
                    </div>
                </div>
            </form>
            <br>
            <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

        </div>
    </div>



{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
