{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container main-block">
        <div class="sign-block border text-center s-content p-4">
            <h3 class="text-center p-2">Inventory</h3>
            <h4 class="text-center p-0">You can create account here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group text-left">
                    {{ form|crispy }}
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="row justify-content-between">
                    <div class="col-4 text-left">
                    </div>
                    <div class="col-4 text-right">
                        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

