<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="login" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Send</button>
</form>
</body>
</html>