@media screen and (max-width: 844px) {
	.row7 .row div.sign-up {
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 767px) {
	nav a.sign-up {
		position: relative;
	}
	nav  div.toggle-menu {
		display: block;
	}
	.row1 .img {
		display: none;
	}
	.row1 .row .row div {
		text-align: center;
	}
	.row1 {
		padding-bottom: 0px;
	}
	.row1 .container .text {
		text-align: center !important;
		margin-left: 15px;
		padding: 0px;
		margin-top: -20px;
	}
	.row1 .container .text div{
		margin-left: 0px;
	}
	.row2 .row {
		margin-left: 16px;
		padding: 0px 10px;
	}
	.row3 {
		display: none;
	}
}
@media screen and (max-width: 535px) {
	.panel .one {
		display: none
	}
	h1 {
		font-size: 28px;
	
	}
}