.main-block .s-content {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px #eee
}

.main-content {
    position: relative;
}

.s-content .create {
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
}

textarea:focus, button:active, input:focus {
    border-color: #ccc !important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important;
}

@media screen and (max-width: 576px) {
    .main-block .s-content {
        width: 90%;
    }
}

