@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('style1.css');
@import url('screen.css');
@import url("modal.css");

* {
    font-family: 'Montserrat', sans-serif;
}

.row {
    width: 100% !important;
    background-color: #fff !important;
    margin: 0px !important;
}

.chat {
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 15px;
    bottom: 30px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.chat img {
    width: 50px;
    height: 50px;
}

[anim="ripple"] {
    position: relative;
    overflow: hidden;
}

[anim="ripple"]:before {
    content: '';
    position: absolute;
    display: block;
    background: var(--ripple-background, white);
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    -webkit-transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    -webkit-transform: translate(-50%, -50%) scale(var(--s, 1));
    transform: translate(-50%, -50%) scale(var(--s, 1));
    -webkit-transform-origin: center;
    transform-origin: center;
}

.btn {
    --ripple-background: white;
    --ripple-opacity: 0.3;
    --ripple-duration: 600ms;
    font-size: 1em;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0px !important;
}

.btn:hover {
    border-radius: 6px !important;
    opacity: 0.7;
    transition: 0.3s;
}

.row1 .sign-up:hover {
    color: #fff !important;
}

#show-up-menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 11;
    height: 70px;
    transition: top 0.2s ease-in-out;
    background-color: #fff;
}

nav.navbar {
    background-color: #fff !important;
    top: 0px;
    box-shadow: 0px 1px 0px #ccc;
    width: 100%;
    height: 70px;
}

.nav-up {
    top: -70px !important;
}

nav div.toggle-menu {
    display: none;
    transform: scale(0.6, 0.6);
}

nav a.navbar-brand {
    color: #000 !important;
}

nav a {
    color: #666 !important;
    font-size: 14px !important;
}

nav a:hover {
    color: #000 !important;
}

nav .extra-menu a {
    font-size: 14px !important;
    text-decoration: none;
    margin-right: 10px;
}

nav .extra-menu a.active {
    background-color: #FFD24D;
    color: #FFF !important;
    padding: 2px 5px;
    border-radius: 8px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham2 .top {
    stroke-dasharray: 40 121;
}

.ham2 .bottom {
    stroke-dasharray: 40 121;
}

.ham2.active .top {
    stroke-dashoffset: -102px;
}

.ham2.active .bottom {
    stroke-dashoffset: -102px;
}

div.side-bar {
    position: fixed;
    top: 0px;
    background-color: #fff;
    height: 100%;
    box-shadow: 2px 0px 3px #ccc;
    z-index: 12;
    width: 80%;
    right: 100%;
    overflow: hidden;
}

div.side-bar ul li {
    list-style-type: none;
    margin-left: -16px;
    padding-left: 50px;
}

div.side-bar ul li a {
    color: #666;
}

div.side-bar ul li a:hover {
    color: #000;
}

div.side-bar p {
    box-shadow: 0px 1px 0px #ccc;
    height: 70px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 18px;
}

#body::after {
    content: " ";
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0px;
    z-index: 11;
    /*left: 200px;*/
    background-color: rgba(68, 68, 68, 0.05);
}

.row1 {
    background-color: #fff;
    padding-top: 160px;
    padding-bottom: 50px;
}

.row1 .container {
    position: relative;
}

.row1 img {
    width: 100%;
}

.row1 a.btn {
    border-radius: 0px;
    padding: 10px 15px;
    margin-top: 20px;
    color: #6495ED;
    width: 80%;
}

.row1 a.sign-up {
    background-color: #6495ED;
    color: #fff;
}

.row1 a.request {
    border: 1px solid;
    color: #444;
}

.row2 {
    padding: 50px 0px;
    margin: 0px !important;
}

.items {
    padding: 10px;
    margin-top: 40px;
}

.items p {
    color: #888;
}

.items:hover {
    box-shadow: 0px 2px 3px #ccc;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.items h4 {
    margin: 15px 0px;
}

.row2 .row {
    width: 100%;
}

.row3 {
    padding: 80px 0px 80px 80px !important;
}

.items img {
    width: 50px;
    height: 50px;
}

.items img.img {
    width: 40px;
    height: 40px;
}

.row4 {
    position: relative;
    padding: 80px 0px !important;
}

.row5 {
    padding: 80px 0px !important;
}

.row6 {
    padding: 80px 0px !important;
}

.items p.title {
    font-size: 20px;
    color: #000;
}

.items p.price {
    font-size: 30px;
    color: #000;
}

.items .btn {
    margin-left: 30% !important;
}

.row6 .items img {
    width: 20px;
    height: 20px;
}

.row6 .row .row p {
    color: #000;
    font-size: 14px;
}

.row7 {
    padding: 80px 0px !important;
    background-image: url("../img/Inventory.png");
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 300px !important;
    box-shadow: 0px 0px 1px rgba(255, 210, 77, 0.5);
}

.row7 h2 {
    color: #FFF;
}

.row7 .container {
    position: relative;
    z-index: 1;
}

.row7:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.row7 .row {
    text-align: center;
    background-color: transparent !important;
}

.row7 .row div {
    margin: auto;
    width: 300px;
}

.row7 .row div.sign-up a {
    background-color: #FFD24D;
}

.row7 .row div.sign-up a {
    color: #FFF !important;
}

.row7 .row div.request a {
    color: #FFD24D !important;
    border: 1px solid
}

.row7 .row div a {
    width: 100%;
}

footer {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: -1000;
    bottom: 0px;
}


