.ecosystem__tradegecko-0 {
    fill: #C4CED1;
}
.ecosystem__tradegecko-1 {
    fill: url(#lg--ecosystem-tradegecko-1);
}
.ecosystem__tradegecko-2 {
    fill: url(#lg--ecosystem-tradegecko-2);
}
.ecosystem__tradegecko-3 {
    fill: url(#lg--ecosystem-tradegecko-3);
}
.ecosystem__tradegecko-4 {
    fill: url(#lg--ecosystem-tradegecko-4);
}
.ecosystem__tradegecko-5 {
    fill: #E2E6EB;
}
.ecosystem__tradegecko-6 {
    fill: #BCC2D2;
}
.ecosystem__tradegecko-7 {
    fill: #2D3033;
}
.ecosystem__tradegecko-8 {
    fill: #1C4561;
}
.ecosystem__tradegecko-9 {
    fill: #18799B;
}
.ecosystem__tradegecko-10 {
    fill: #F6574D;
}
.ecosystem__tradegecko-11 {
    fill: #FBB207;
}
.ecosystem__tradegecko-12 {
    fill: #B463D6;
}
.ecosystem__tradegecko-13 {
    fill: #ED50A2;
}
.ecosystem__tradegecko-14 {
    fill: #5867ED;
}
.ecosystem__tradegecko-15 {
    fill: #429BCE;
}
.ecosystem__tradegecko-16 {
    fill: #7BE3BD;
}
.ecosystem__tradegecko-17 {
    opacity: 0.1;
    fill: #292933;
    enable-background: new;
}
.ecosystem__tradegecko-18 {
    fill: #70CF32;
}
.ecosystem__tradegecko-19 {
    opacity: 0.15;
    fill: #68BEFF;
    enable-background: new;
}
.ecosystem__tradegecko-20 {
    fill: #FFFFFF;
}
.ecosystem__tradegecko-21 {
    fill: #6FD5D9;
}
.ecosystem__arrows-head {
    fill: none;
    stroke: #70cf32;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px
}
.ecosystem__dash {
    fill: none;
    stroke: #70cf32;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    stroke-dasharray: 3px 6px
}
.ecosystem-b2b-1 {
    fill: url(#lg--ecosystem-b2b);
}
.ecosystem-b2b-2 {
    fill: #fff;
}
.ecosystem-b2b-3 {
    fill: #e2e6e8;
}
.ecosystem-b2b-4 {
    fill: #e4b462;
}
.ecosystem-b2b-5 {
    fill: #b463d6;
}
.ecosystem-b2b-6 {
    font-size: 16px;
    font-weight: 700;
}
.ecosystem-b2b-6, .ecosystem-b2b-9 {
    fill: #6fd5d9;
}
.ecosystem-b2b-7 {
    fill: #ed50a2;
}
.ecosystem-b2b-8 {
    fill: #5867ed;
}
.ecosystem-b2b-10 {
    fill: #70cf32;
}
.ecosystem-ecommerce-1 {
    fill: url(#lg--ecosystem-ecommerce);
}
.ecosystem-ecommerce-2 {
    fill: #fff;
}
.ecosystem-ecommerce-3 {
    fill: #e2e6e8;
}
.ecosystem-ecommerce-4 {
    fill: #95bf47;
}
.ecosystem-ecommerce-5, .ecosystem-ecommerce-8 {
    fill: #b463d6;
}
.ecosystem-ecommerce-5, .ecosystem-ecommerce-6, .ecosystem-ecommerce-7 {
    opacity: 0.1;
}
.ecosystem-ecommerce-6, .ecosystem-ecommerce-9 {
    fill: #ed50a2;
}
.ecosystem-ecommerce-10, .ecosystem-ecommerce-7 {
    fill: #5867ed;
}
.ecosystem-payment-card-1 {
    fill: #913a55;
}
.ecosystem-payment-card-2 {
    fill: #e4b462;
}
.ecosystem-payment-card-3 {
    fill: #f4f4f5;
}
.ecosystem-payment-card-4 {
    font-size: 7.36px;
    fill: #fff;
    font-weight: 700;
}
.ecosystem-payment-screen-1 {
    fill: url(#lg--ecosystem-payment-screen);
}
.ecosystem-payment-screen-2 {
    fill: #fff;
}
.ecosystem-payment-screen-3, .ecosystem-payment-screen-6 {
    fill: #f6574d;
}
.ecosystem-payment-screen-4 {
    fill: #e2e6e8;
}
.ecosystem-payment-screen-5, .ecosystem-payment-screen-6, .ecosystem-payment-screen-7 {
    font-size: 16.15px;
    font-weight: 700;
}
.ecosystem-payment-screen-5 {
    fill: #873030;
}
.ecosystem-payment-screen-7 {
    fill: #ffaa64;
}
.ecosystem-payment-screen-8 {
    font-size: 15.76px;
    fill: #70cf32;
}
.ecosystem-purchase-orders-2 {
    fill: #e2e6e8;
}
.ecosystem-purchase-orders-3 {
    fill: url(#lg--ecosystem-purchase-orders);
}
.ecosystem-purchase-orders-4 {
    fill: #fff;
}
.ecosystem-purchase-orders-5, .ecosystem-purchase-orders-6 {
    fill: #889096;
}
.ecosystem-purchase-orders-6 {
    font-size: 16px;
    fill: #889096;
    font-weight: 400;
    font-style: normal;
}
.ecosystem-sales-orders-1 {
    fill: #c4ced1;
}
.ecosystem-sales-orders-2 {
    fill: #e2e6e8;
}
.ecosystem-sales-orders-3 {
    fill: url(#lg--ecosystem-sales-orders);
}
.ecosystem-sales-orders-4 {
    fill: #fff;
}
.ecosystem-sales-orders-5 {
    font-size: 16px;
    fill: #889096;
    font-weight: 400;
    font-style: normal;
}
.ecosystem-accounting-1 {
    fill: url(#lg--ecosystem-accounting);
}
.ecosystem-accounting-2 {
    fill: #fff;
}
.ecosystem-accounting-3 {
    fill: #00b7e3;
}
.ecosystem-accounting-4 {
    fill: #e2e6e8;
}
.ecosystem-accounting-5 {
    fill: #6fd5d9;
    opacity: 0.3;
}
.ecosystem__shipping-1 {
    fill: #292933;
    opacity: 0.1;
}
.ecosystem__shipping-2 {
    fill: #6f7072;
}
.ecosystem__shipping-3 {
    fill: #9ea2a7;
}
.ecosystem__shipping-4 {
    fill: #7d7f81;
}
.ecosystem__shipping-5 {
    fill: #c3cacd;
}
.ecosystem__shipping-6 {
    fill: #a57878;
}
.ecosystem__shipping-7 {
    fill: url(#lg--ecosystem-shipping);
}
.ecosystem__shipping-8 {
    fill: #f1d9d9;
}
.ecosystem__shipping-9 {
    fill: #ba9678;
}
.ecosystem__shipping-10 {
    fill: #cca783;
}
.ecosystem__shipping-11 {
    fill: #e0ba94;
}
.ecosystem__shipping-12 {
    fill: #edd0b4;
}
.ecosystem__shipping-13 {
    fill: #fff;
}
.ecosystem__shipping-14 {
    fill: #919499;
}
.ecosystem__suppliers-1 {
    fill: url(#lg--ecosystem-suppliers);
}
.ecosystem__suppliers-2 {
    fill: #292933;
    opacity: 0.1;
}
.ecosystem__suppliers-3 {
    fill: #baab9a;
}
.ecosystem__suppliers-4 {
    fill: url(#lg--ecosystem-suppliers-2);
}
.ecosystem__suppliers-5 {
    fill: url(#lg--ecosystem-suppliers-3);
}
.ecosystem__suppliers-6 {
    fill: #6f7072;
}
.ecosystem__suppliers-7 {
    fill: url(#lg--ecosystem-suppliers-3);
}
.ecosystem__suppliers-8 {
    fill: url(#lg--ecosystem-suppliers-3);
}
.ecosystem__suppliers-9 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-opacity: 0.4;
    stroke-width: 19px;
    stroke-dasharray: 4 6 8 2;
}
.ecosystem__warehouses-1 {
    fill: #292933;
    opacity: 0.1;
}
.ecosystem__warehouses-2 {
    fill: url(#lg--ecosystem--warehouses);
}
.ecosystem__warehouses-3 {
    fill: #eceff0;
}
.ecosystem__warehouses-4 {
    fill: #d8dfe1;
}
.ecosystem__warehouses-5 {
    fill: #6f7072;
}
.ecosystem__warehouses-6 {
    fill: #f4f4f5;
}
.ecosystem__mobile-1 {
    isolation: isolate;
}
.ecosystem__mobile-2 {
    fill: #292933;
    opacity: 0.1;
}
.ecosystem__mobile-3 {
    fill: #6c7279;
}
.ecosystem__mobile-4 {
    fill: #2d3033;
}
.ecosystem__mobile-5 {
    fill: #1c4561;
}
.ecosystem__mobile-6 {
    fill: #2b738c;
}
.ecosystem__mobile-7 {
    fill: #b463d6;
}
.ecosystem__mobile-8 {
    fill: #ed50a2;
}
.ecosystem__mobile-9 {
    fill: #393c40;
}
.ecosystem__mobile-10 {
    fill: #68beff;
    opacity: 0.1;
}
.ecosystem__mobile-11 {
    fill: #242629
}
.ecosystem__mobile-12 {
    fill: #7be3bd;
}
.svg-man--1-1 {
    fill: #5e6062;
}
.svg-man--1-2 {
    fill: #eedcc8;
}
.svg-man--1-3 {
    fill: #586f85;
}
.svg-man--1-4 {
    fill: #ade8cf;
}.svg-lady--1-1 {
    fill: #eedcc8;
}
.svg-lady--1-2 {
    fill: #edd0b4;
}
.svg-lady--1-3 {
    fill: #e6c790;
}
.svg-lady--1-4 {
    fill: #d7669d;
}
.svg-lady--1-5 {
    fill: #eb867c;
}
.svg-lady--1-6 {
    fill: #997c65;
}
.svg-lady--2-1 {
    fill: #5e6062;
}
.svg-lady--2-2 {
    fill: #eedcc8;
}
.svg-lady--2-3 {
    fill: #7fb1d6;
}
.svg-lady--2-4 {
    fill: #a3dde0;
}