{% load humanize %}

{% include 'dashboard/header.html' %}

<style>
    .td {
        border: none !important;
    }
</style>

<!-- Dashboard -->
{% include 'dashboard/side.html' %}

<!-- Dashboard -->
<div class="row3">
    <!-- Counting row -->
    <div class="row counting-row pb-5">
        <div class="col-10 offset-2 pt-0 pl-4">
            <div class="row justify-content-between mt-4">
                <div class="col-8">
                    <h3 class="text-left pt-3 pb-3">Savdo Faoliyati</h3>
                </div>
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Umumiy Savdo</th>
                            <th scope="col">Umumiy Harajat</th>
                            <th scope="col">Umumiy Foyda</th>
                            <th scope="col">Sotilgan Mahsulotlar</th>
                            <th scope="col">Umumiy Qiymat <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Ombordagi barcha mahsulotlar qiymati so'mda"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="#" class="dash_stats" title="0.00" data-toggle="tooltip"
                                   data-placement="top">0</a>
                            </td>
                            <td>
                                <a href="#" class="dash_stats" title="0.00" data-toggle="tooltip"
                                   data-placement="top">0</a>
                            </td>
                            <td>
                                <a href="#" class="dash_stats" title="0.00" data-toggle="tooltip"
                                   data-placement="top">0</a>
                            </td>
                            <td>
                                <a href="#" class="dash_stats" title="0.00" data-toggle="tooltip"
                                   data-placement="top">0</a>
                            </td>
                            <td>
                                {% if total_profit %}
                                    <a class="dash_stats" href="{% url 'items' %}"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="{{ total_profit|intcomma }}">
                                        {{ total_profit|intcomma }}
                                    </a>
                                {% else %}
                                    <a class="dash_stats" href="{% url 'items' %}"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       title="0.00">
                                        0
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" colspan="3">Mahsulotlar Tafsiloti</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td" colspan="2" height="77">
                                <p style="color: red; font-size: 18px;">Kam qolgan mahsulotlar</p>
                            </td>
                            <td class="td">
                                <a href="{% url 'items' %}" style="color: red; font-size: 18px;">{{ lower_items }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="td" colspan="2">
                                <p style="font-size: 18px;">Barcha mahsulotlar guruhi</p>
                            </td>
                            <td class="td">
                                <a href="#" title="" style="color: #6881FF; font-size: 18px;">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="td">
                                <p style="font-size: 18px;">Barcha mahsulotlar</p>
                            </td>
                            <td class="td">
                                <a href="{% url 'items' %}" title=""
                                   style="color: #6881FF; font-size: 18px;">{{ items }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" colspan="3">Sotivdagi Mahsulotlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items_on_sale %}
                            {% for item_sale in items_on_sale %}
                                <tr>
                                    <td class="td" colspan="2" height="76.48">
                                        <p style="font-size: 18px;">{{ item_sale.item_name }}</p>
                                    </td>
                                    <td class="td">
                                        <p style="font-size: 18px;">{{ item_sale.quantity }}
                                            <small>{{ item_sale.unit }}</small>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="td" colspan="3"><p>Sotuvdagi mahsulotlar mavjud emas</p></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Xaridlar -->
    <div class="row xaridlar p-2">
        <div class="col-10 offset-2">
            <div class="row">
                <div class="col-5 p-4">
                    <div class="tafsilot border p-2">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mt-2">Xarid Buyurtmasi</h5>
                            </div>
                            <!-- <div class="col-4">
                              <select class="wide">
                                <option data-display="Bugun" value="Bugun">Bugun</option>
                                <option value="Kecha">Kecha</option>
                                <option value="Shu hafta">Shu hafta</option>
                                <option value="O'tgan hafta">O'tgan hafta</option>
                                <option value="Shu oy">Shu oy</option>
                                <option value="O'tgan oy">O'tgan oy</option>
                                <option value="Shu yil">Shu yil</option>
                                <option value="O'tgan yil">O'tgan yil</option>
                              </select>
                            </div> -->
                        </div>
                        <hr>
                        <div class="xarid-content">
                            <h6 class="text-center">Buyurtma Miqdori</h6>
                            <p class="text-center"><a href="" title="">0</a></p>
                            <hr>
                            <h6 class="text-center">Buyurtma Miqdori</h6>
                            <p class="text-center"><a href="" title="">0.00 UZS</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-7 p-4">
                    <div class="mahsulot border p-2">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="mt-2">Savdo Buyurtmasi</h5>
                            </div>
                            <!-- <div class="col-4">
                              <select class="wide">
                                <option data-display="Bugun" value="Bugun">Bugun</option>
                                <option value="Kecha">Kecha</option>
                                <option value="Shu hafta">Shu hafta</option>
                                <option value="O'tgan hafta">O'tgan hafta</option>
                                <option value="Shu oy">Shu oy</option>
                                <option value="O'tgan oy">O'tgan oy</option>
                                <option value="Shu yil">Shu yil</option>
                                <option value="O'tgan yil">O'tgan yil</option>
                              </select>
                            </div> -->
                        </div>
                        <hr class="mb-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="border-0">#</th>
                                    <th class="border-0">Channal</th>
                                    <!-- <th class="border-0">Qoralama</th> -->
                                    <th class="border-0">Tasdiqlangan</th>
                                    <th class="border-0">Qadoqlangan</th>
                                    <th class="border-0">Yetkazilgan</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">Sotish</td>
                                    <!-- <td class="text-center">0</td> -->
                                    <td class="text-center">0</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center">0</td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">Sotish</td>
                                    <!-- <td class="text-center">0</td> -->
                                    <td class="text-center">0</td>
                                    <td class="text-center">0</td>
                                    <td class="text-center">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'dashboard/footer.html' %}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>