{% load static %}

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static 'proad/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'proad/js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'proad/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'proad/js/bootstrap.js' %}"></script>
<!-- MDBootstrap Datatables  -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'proad/js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app_in/js/dashboard.js' %}"></script>
<script>
    /*var str = 'I will practice survival skills';
    console.log(count(str,'i'));*/
    // s = 'dir/dir/dir/dir/'
    // for(i=l=0;i<s.length;i++)
    // 	if(s[i] == '/')
    // l++;
    // console.log(l);

    function showing(value) {
        console.log(value);
    }

</script>
</body>
</html>