{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Inventory</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'proad/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'proad/css/mdb.min.css' %}" rel="stylesheet">
  <!-- MDBootstrap Datatables  -->
<link href="{% static 'proad/css/addons/datatables.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'app_in/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- /Start your project here-->
  <header class="row1">
      <!-- <div class="container-fluid"> -->
        <div class="row align-items-start">
          <div class="col-2 h3 pt-3">
            <h3 class="text-center">Inventory</h3>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-6 pt-3">
                <div class="row">
                  <div class="col-4 text-right">
                    <!-- <select class="wide">
                      <option data-display="Kategoriya" value="items">Items</option>
                      <option value="items">Items group</option>
                      <option value="items">Items</option>
                      <option value="items">Items</option>
                    </select> -->
                  </div>
                  <div class="col-8">
{#                    <form class="form-inline float-left">#}
{#                      <input class="form-control" type="text" placeholder="Search" aria-label="Search">#}
{#                      <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>#}
{#                      </form>#}
                  </div>
                </div>
              </div>
              <div class="col-6 pt-4 info-comp">
                <div class="row mr-0">
                  <div class="col-5 p-0">
                    <p class="p-0">
                      Sinov vaqti <span class="day">14</span> kun <span class="upgrade"><a href="" title="">Start</a></span>
                    </p>
                  </div>
                  <div class="col-5">
                    <p id="comp-name">Company name <i class="fa fa-angle-down"></i></p>
                  </div>
                  <div class="col-2">
                    <i class="fa fa-bell p-2" id="not"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </header>
    <!-- Info-section -->
<div class="info-sec col-3 p-0">
    <div class="for-comp">
      <div class="header p-3">
        <div class="row text-right">
          <div class="col-12 close-menu">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <h5 class="user-name text-center">{{ user.username|upper }}</h5>
        <p class="user-id text-center">User ID: <span class="id-number">914009551</span></p>
        <p class="e-mail text-center">{{ user.email }}</p>
        <div class="row door">
          <div class="col-12">
            <p class=""><a href="" title="">Mening tafsilotlarim</a></p>
          </div>
          <div class="col-12">
            <p><a href="{% url 'account_logout' %}" title="">Chiqish</a></p>
          </div>
        </div>
      </div>
      <hr class="mt-0">
      <div class="content p-3">
        <div class="org">
          <h5>Mening kompaniyalarim</h5>
          <ul class="list-group">
            <li class="list-group-item active">
              <p class="m-0">Company name</p>
              <p class="m-0">kompaniya ID: <span class="id-number">914009551</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="for-not">
      <div class="header p-3">
        <div class="row text-right">
          <div class="col-12 close-menu">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <h4 class="text-center mb-3">Bildirishnomalar</h4>
      </div>
      <hr class="mt-0">
      <div class="content p-3">
        <ul class="list-group">
          <li class="list-group-item active">
            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eaque, voluptatibus.</p>
            <p class="m-0"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>