<!-- Side-bar -->
<div class="row2 col-2">
    <div class="row align-items-start">
        <div class="col-12 side-bar p-0">
            <ul class="side-bar-items p-0">
                <li class="side-bar-item">
                    <a href="{% url 'dashboard' %}" title="" class="active navlink">
                        <i class="fas fa-home mr-1"></i>
                        Boshqaruv paneli
                    </a>
                </li>
                <li class="side-bar-item" id="loadbasic">
                    <a href="{% url 'contacts' %}" title="" class="navlink">
                        <i class="fas fa-user-friends mr-1"></i>
                        Aloqalar
                    </a>
                </li>
                <li class="side-bar-item">
                    <a href="{% url 'items' %}" title="" class="navlink">
                        <i class="fas fa-shopping-basket mr-1"></i>
                        Items
                    </a>
                </li>
                <li class="side-bar-item">
                    <a href="{% url 'sales-order' %}" title="" class="navlink">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Savdo buyurtmalar
                    </a>
                </li>
                <li class="side-bar-item">
                    <a href="{% url 'purchase-order' %}" title="" class="navlink">
                        <i class="fas fa-shopping-bag mr-1"></i>
                        Xarid buyurtmalar
                    </a>
                </li>
                <li class="side-bar-item">
                    <a href="{% url 'reports' %}" title="" class="navlink">
                        <i class="fas fa-file-invoice-dollar mr-1"></i>
                        Hisobotlar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

