@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fff;
}


header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
    top: 0px;
}

.row1 .h3 {
    width: 80%;
    height: 70px;
    background-color: #eee;
    position: relative;

}

header .row {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

header .col-10 {
    background-color: #F8F7F7;
    height: 70px;
}

header span.day {
    color: #9B0FF8;
}

header span.upgrade a {
    color: #9B0FF8;
    text-decoration: none;
}

#comp-name,
#not {
    cursor: pointer;
}

.toggle-color {
    color: #9B0FF8 !important;
}

.toggle-display {
    display: block !important;
}

.info-sec {
    position: fixed;
    z-index: 10;
    right: 0px;
    background-color: #fcfcfc;
    height: 100%;
    overflow: scroll;
    padding-bottom: 50px !important;
    box-shadow: -2px 2px 3px #ddd;
    display: none;
}

.info-sec .for-comp,
.info-sec .for-not {
    display: none;
}

.info-sec .close-menu {
    float: right;
}

.info-sec .close-menu i {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.info-sec .for-comp .door .col-12:nth-child(1) a {
    color: #9B0FF8;
    text-decoration: none;
}

.info-sec .for-comp .door .col-12:nth-child(2) a {
    color: red;
    text-decoration: none;
}

.info-sec .header {
    background-color: #F5FAFF;
}

.row2 {
    padding-top: 30px;
    position: fixed;
    height: 100%;
    background-color: #444;
}

.row2 ul li {
    list-style-type: none;
    width: 100%;
    padding: 5px 0px 5px 30px;
    font-size: 15px;
}

.row2 ul li .active {
    color: #6881FF !important;
}

.row2 ul li:hover a {
    color: #6881FF;
}

.row2 ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.row2 ul li a {
    color: #fff;
    text-decoration: none;
}

.row2 #panel-mahsulot {
    display: none;
}

.row2 .toogle-slide {
    transform: rotate(-90deg);
    font-size: 15px;
    margin-left: 15px;
}

.row2 .rotate {
    animation: rotate 0.3s forwards;
}

@keyframes rotate {
    to {
        transform: rotate(0deg);
    }
}

.row3 {
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
}

.row3 .items {
    height: 150px;
}

.row3 .items .item {
    border: 1px solid;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
}

.row3 .items .item:hover {
    border-color: #6881FF;
    transition: 0.3s;
}

.row3 .items .item a {
    font-size: 30px;
    text-decoration: none;
    padding: 5px 20px;
}

.row3 .items:nth-child(1) .item a {
    color: #4F92D5;
}

.row3 .items:nth-child(2) .item a {
    color: #2ED55A;
}

.row3 .items:nth-child(3) .item a {
    color: #D5A208;
}

.row3 .items p.desc {
    color: #ccc;
}

.tooltiper {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    perspective: 600px;
    transform-style: preserve-3d;
}

.tooltiper .tooltip {
    position: absolute;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    top: 0;
    left: 0;
    line-height: 1.4em;
    transform: rotateX(90deg) translateZ(0px);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out 0.1s;
}

.tooltiper:hover .tooltip {
    transform: rotateX(0) translateZ(20px);
    opacity: 1;
    transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out;
}

.tooltiper .tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.row3 .handl .mr-3 {
    border-radius: 10px !important;
    padding: 5px 0px;
}

.row3 .handl .mr-3:hover {
    border-color: #6881FF !important;
    transition: 0.3s;
}

.row3 .handl .mr-3 .col-3 {
    border-left: 1px solid #ccc;
}

.row3 .tafsilot .count a {
    text-decoration: none;
    font-size: 20px;
    color: #6881FF;
}

.row3 .tafsilot:hover {
    border-color: #6881FF !important;
    transition: 0.3s;
}

.row3 .tafsilot:hover hr {
    border-color: #6881FF !important;
    transition: 0.3s;
}

.row3 .mahsulot:hover {
    border-color: #6881FF !important;
    transition: 0.3s;
}

.row3 .mahsulot:hover hr {
    border-color: #6881FF !important;
    transition: 0.3s;
}

.row3 .mahsulot .list-group li:hover {
    background-color: #f6f6f6 !important;
    transition: 0.3s;
}

.row3 .xaridlar .xarid-content a {
    text-decoration: none;
    font-size: 20px;
    color: #6881FF;
}

.row3 .xaridlar .table-responsive table tr:hover {
    background-color: #f6f6f6 !important;
    transition: 0.3s;
}

.diagramma .col-9 {
    width: 100%;
    min-height: 450px;
}

.diagramma .col-9 a.canvasjs-chart-credit {
    display: none;
}

.diagramma .col-3 .list-group .list-group-item .one {
    color: #444;
}

.diagramma .col-3 .list-group .list-group-item .two a {
    color: #000;
    text-decoration: none;
}

/*=============== Items-group ===============*/

div.items-group {
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
}

div.items-group .select-bar {
    background-color: #F5FAFF;
}

div.items-group .col-md-6 .border {
    box-shadow: 0px 0px 5px 1px #dfdfdf;
}

div.items-group .col-md-6 .border:hover {
    border-color: #6881FF !important;
    transition: 0.3s;
}

div.items-group p.icon {
    font-size: 100px;
}

div.items-group a.btn {
    color: #fff;
}

div.items-group a.btn:hover {
    color: #fff;
    opacity: 0.8;
}

div.items-group a.btn:active {
    opacity: 1;
    transform: translate(1px, 1px);
}


thead th {
    background: #f7f7f7;
    text-transform: uppercase;
    font-size: 12px !important;
    border-color: inherit;
    font-weight: 700;
}

.blue-color {
    background-color: #f0f0f0;
}

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*.table-hover tbody tr:hover {*/
/*    background-color: #f7f7f7;*/
/*}*/

textarea:focus, button:active, input:focus {
    border-color: #ccc !important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.btn-link {
    text-decoration: none;
    color: #fff;
}

.btn-link:hover {
    text-decoration: none;
    color: #fff;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 60px;
    line-height: 40px;
    color: #000;
    border: 1px solid #b0c0d6;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}

.file-upload-wrapper:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
    background: #3d8c63;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.fa-pen, .fa-trash-alt {
    color: #fff;
}

.btn {
    box-shadow: none;
    text-transform: none;
    font-size: 17px;
}

.btn.btn-md {
    padding: 8px 13px;
    font-size: 16px;
}

.btn:hover {
    box-shadow: none;
}

.btn-primary {
    background-color: #1A73E8 !important;
}

.btn-primary:hover {
    background-color: #174EA6 !important;
}

.side-color {
    border-right: 2px solid blue
}

#nekto{
	width: 60px;
	height: auto;
	border-radius: 50%;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dash_stats {
    font-size: 16px;
    font-weight: 600;
}

