{% load static %}
{% load humanize %}

{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Dashboard -->
<div class="row3 container-fluid">
    <!-- Counting row -->
    <div class="row counting-row pb-5">
        <div class="col-10 offset-2 pt-0 pl-5">
            <div class="row justify-content-between start-dash mb-4" id="item_info">
                <div class="col-6">
                    <h4 class="text-left pt-3 pb-3">Items</h4>
                    {#                    <button class="btn btn-danger delete-btn" onclick="window.location.href=window.location.href">#}
                    {#                        Delete#}
                    {#                    </button>#}
                </div>
                <div class="col-6">
                    <div class="text-right pt-3 pb-3">
                        <a href="{% url 'item-create' %}" class="btn btn-md btn-primary">New</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-md dropdown-toggle" data-toggle="dropdown"
                                    data-display="static" aria-haspopup="true" aria-expanded="false">
                                More
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="   " data-toggle="modal"
                                   data-target="#item_export" class="dropdown-item"><i
                                        class="fas fa-file-export"></i> Export Items</a>
                                <a href="{% url 'items-upload' %}" class="dropdown-item"><i
                                        class="fas fa-file-import"></i> Import Items</a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'items' %}" class="dropdown-item"><i class="fas fa-sync"></i> Refresh
                                    Page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="item_export" tabindex="-1" role="dialog"
                     aria-labelledby="salom"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #F8F7F7;">
                                <h5 class="modal-title text-left" id="salom">Export</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>You can export your data in xlsx</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal">Cancel
                                </button>
                                <a href="{% url 'export-item-excel' %}" class="btn btn-md btn-primary">Export</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between start-dash mb-4" id="general">
                <div class="col-6">
                    <h4 class="text-left mt-4">Selected Items: <span id="counter"></span></h4>
                </div>
                <div class="col-6">
                    <div class="text-right pt-3 pb-3">
                        <button class="btn btn-danger btn-md" data-toggle="modal"
                                data-target="#item_delete">
                            Delete
                        </button>
                        <a href="{% url 'items' %}" class="btn btn-md btn-info">Cancel</a>
                    </div>
                </div>
                <!-- Delete contacts modal -->
                <div class="modal fade" id="item_delete" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #F8F7F7;">
                                <h5 class="modal-title text-left" id="exampleModalLabel">Delete Items</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img style="float:left;"
                                     src="{% static 'proad/img/icons/icons8-warning-shield-48.png' %}" alt="">
                                <h6 class="mt-3">&nbsp; Do you want to delete selected items?</h6>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-info btn-md delete-btn"
                                        onclick="window.location.href=window.location.href">Delete
                                </button>
                                <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fadeIn" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col-12">
                    <table id="dtBasicExample" class="table table-hover item-list" border-spacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th scope="col"><input type="checkbox" class="select_all"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Sku</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Purchase Rate</th>
                            <th scope="col">Usage Unit</th>
                            <th scope="col">Brand</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr data-id="{{ item.id }}" class="clickable-row"
                                data-href="{% url 'item-detail' item.id %}"
                                style="cursor: pointer; ">
                                <th scope="row"><input type="checkbox" id="check" name="wpmm[]"></th>
                                <td data-toggle="tooltip" data-placement="right"
                                    title="Ushbu maxsulotning umumiy qiymati {{ item.total_sum|intcomma }} so'm">{{ item.item_name }}</td>
                                <td>{{ item.sku }}</td>
                                <td>{{ item.quantity }}
                                    <small>{{ item.unit }}</small>
                                </td>
                                <td>{{ item.selling_price }} UZS</td>
                                <td>{{ item.manufacturer }}</td>
                                <td>{{ item.purchase_price }} UZS</td>
                                <td>{{ item.unit }}</td>
                                <td>{{ item.brand }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% csrf_token %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'dashboard/footer.html' %}

<script>
    $(document).ready(function () {

        $(".delete-btn").click(function () {

            var selected_rows = [];

            $('.item-list').find('tr').each(function () {
                var row = $(this);
                if (row.find('input[type="checkbox"]').is(':checked')) {
                    console.log(row.attr('data-id'));
                    selected_rows.push(row.attr('data-id'));
                }

            });
            var selected_rows = JSON.stringify(selected_rows);
            $.ajax({
                url: "{% url 'item-delete' %}",
                type: 'POST',
                data: {
                    'item_id': selected_rows,
                    'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()
                },
            });
        });
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

</script>