{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Dashboard -->
<div class="row3 container-fluid">
    <!-- Counting row -->
    <div class="row counting-row pb-5">
        <div class="col-10 offset-2 pt-0 pl-5">
            <h2 class="mt-3">Item Select FIle</h2>
            <hr>
            <h5> Namuna sifatida csv faylni <a href="/static/source/items.csv" download>yuklab oling</a> va o'zingizni
                faylingiz bilan solishtring.</h5>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <br><br>
            <form action="{% url 'items-upload' %}" method="post" enctype="multipart/form-data"
                  style="width: 480px">
                {% csrf_token %}
                <div class="file-upload-wrapper" data-text="Select your file!">
                    <input name="file" type="file" class="file-upload-field" value="" required>
                </div>
                <small>Fayl format CSV</small>
                <br>
                <button class="btn btn-primary btn-md  mt-4" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>


{% include 'dashboard/footer.html' %}

<script>
    $("form").on("change", ".file-upload-field", function () {
        $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, ''));
    });
</script>