{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}


<div class="row3 container-fluid">
    <!-- Counting row -->
    <div class="row counting-row pb-5">
        <div class="col-10 offset-2 pt-0 pl-5">
            <div class="col-sm-12 mt-4">
                <div class="row">
                    <div class="col-sm-2">
                        <h4>{{ object.item_name }}</h4>
                        <p>{{ object.sku }}</p>
                        <p>{{ object.total_sum }}</p>
                    </div>
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <a href="{% url 'item-update' item.id %}" class="btn btn-primary btn-md btn-link material-tooltip-main" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-pen"></i></a>
                        <a href="{% url 'items-delete' item.id %}" class="btn btn-primary btn-md btn-link material-tooltip-main" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2"><p class="text-muted">SKU</p></div>
                    <div class="col-md-2"><p>{{ object.sku }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p class="text-muted">Quantity</p></div>
                    <div class="col-md-2"><p>{{ object.quantity }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p class="text-muted">Unit</p></div>
                    <div class="col-md-2"><p>{{ object.unit }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p class="text-muted">Manufacturer</p></div>
                    <div class="col-md-2"><p>{{ object.manufacturer }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p class="text-muted">Brand</p></div>
                    <div class="col-md-2"><p>{{ object.brand }}</p></div>
                </div>
                <br>
                <h5>Sales Information</h5>
                <div class="row mt-3">
                    <div class="col-md-2"><p class="text-muted">Selling Price</p></div>
                    <div class="col-md-2"><p>{{ object.selling_price }} UZS</p></div>
                </div>
                <br>
                <h5>Purchase Information</h5>
                <div class="row mt-3">
                    <div class="col-md-2"><p class="text-muted"> Purchasing Price</p></div>
                    <div class="col-md-2"><p>{{ object.purchase_price }} UZS</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'dashboard/footer.html' %}

<script>
  $(function () {
    $('.material-tooltip-main').tooltip({
      template: '<div class="tooltip md-tooltip-main"><div class="tooltip-arrow md-arrow"></div><div class="tooltip-inner md-inner-main"></div></div>'
    });
  })
</script>