{% load crispy_forms_tags %}
{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Add Item -->
<div class="row3 container">
    <div class="row counting-row">
        <div class="col-10 offset-2 pt-0 pl-5">
            <div class="row justify-content-between start-dash mb-4">
                <div class="col-12">
                    <h3 class="mt-5">New Item</h3>
                    <hr>
                    <form action="" method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                {{ form.item_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ form.sku|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{ form.quantity|as_crispy_field }}
                            </div>
                            <div class="col-6">
                                <label for="" class="mt-1">Unit*</label>
                                <select class="browser-default custom-select" ng-value={{ form.unit }}

                                        </div>
                        </div>
                            <div class="row">
                                <div class="col-6">
                                    {{ form.manufacturer|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.brand|as_crispy_field }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <input type="checkbox" id="sales_info" onchange="active()"> Sales Information
                                    {{ form.selling_price|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" id="purchase_info" onchange="myFunc()"> Purchase Information
                                    {{ form.purchase_price|as_crispy_field }}
                                </div>
                            </div>
                            <button class="btn btn-primary btn-md pull-right" type="submit">Save</button>
                            <button class="btn btn-info btn-md pull-right"><a href="{% url 'items' %}"
                                                                                 class="btn-link">Cancel</a>
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'dashboard/footer.html' %}