{% load crispy_forms_tags %}
{% include 'dashboard/header.html' %}
{% include 'dashboard/side.html' %}

<!-- Dashboard -->
<div class="row3 container">
    <h3 class="mt-5">This page is under process</h3>
</div>


{% include 'dashboard/footer.html' %}